
h2{
	text-align: center;

}
img{
	width: 250px;
}

.Text{
    padding: 10px;
    
}

.block{
    width: 1200px;
    padding: 5px 0px 10px 0px;
    font-size: 16px;
    line-height: 30px;
    background-color: #eeeeee;
    
    
}
.sheet{ 
    width:320px;
    background-color: white;
    padding: 10px 50px 50px 50px;
    box-shadow: -1px 1px 12px -3px rgba(0,0,0,0.75);
    margin: 2px 390px 20px 390px;
}
